body {
	background-color: #f0f0f0;
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#logoDate {
	width: 1500px;
	margin: 60px auto 70px auto;
}

#WaPoLogo {
	/* height ratio 6.72646400544 */
	width: 240px;
	height: 40px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="237.424px" height="35.297px" viewBox="0 0 474.848 70.594" enable-background="new 0 0 474.848 70.594" xml:space="preserve"><path fill="#333333" d="M31.438,22.241v24.376c3.13-1.863,4.662-4.527,5.794-8.059l0.799,0.4c-0.732,8.791-6.86,17.316-16.185,17.316c-9.391,0-16.518-6.994-16.518-18.184c0-8.525,5.129-13.787,12.455-18.382 c-0.999-0.267-1.865-0.399-2.93-0.399c-4.796,0-7.593,3.264-7.593,6.594H6.328c-0.067-0.466-0.067-0.933-0.067-1.398 c0-6.194,3.664-13.121,11.256-13.121c4.862,0,8.592,4.463,14.253,4.463c2.864,0,4.462-1.066,5.595-3.53h0.799 C38.098,16.646,36.833,20.843,31.438,22.241z M18.783,20.043c-3.397,3.53-6.727,7.26-6.727,14.786 c0,4.13,1.265,8.259,4.396,10.923l2.065-1.133V27.77l-2.131,1.132l-0.666-1.065l9.991-5.595 C23.178,21.708,21.114,20.709,18.783,20.043z M30.172,22.508c-0.466,0.066-0.999,0.066-1.532,0.066 c-0.933,0-1.798-0.066-2.665-0.267v19.648l-8.525,4.662c1.798,1.332,3.797,1.998,6.594,1.998c2.264,0,4.329-0.531,6.127-1.332 V22.508z M59.478,28.636v22.845c0,6.395-5.662,10.723-11.989,11.988l-0.4-0.666c3.13-1.531,5.195-4.262,5.195-7.592V31.366 l-3.264-2.997l-1.732,1.731v18.05l1.999,1.865v0.266l-5.395,5.729l-6.194-5.662v-0.266l2.398-2.531v-29.44l7.06-7.526l0.133,0.067 v17.717l5.795-6.128l5.794,5.262l1.798-1.731l0.866,0.865L59.478,28.636z M70.534,42.223v2.996l5.995,4.73l4.662-4.863 l0.866,0.865l-9.458,10.125l-8.525-6.795l-1.865,1.865l-0.799-0.865l2.064-2.131V31.433l12.588-9.191l6.994,10.856L70.534,42.223z M70.667,27.17l-0.133,0.066v13.387l5.795-4.262L70.667,27.17z"/> <path fill="#333333" d="M125.208,56.01l-9.258-7.992l-7.06,7.992l-9.591-8.26V34.696h-1.865c-1.665,0-2.464,0.999-2.73,2.332 h-0.666c-0.133-0.533-0.333-1.465-0.333-2.532c0-1.731,0.733-6.261,5.595-6.261V18.111c0-3.93-2.598-4.129-2.598-7.526 c0-3.796,3.597-7.326,10.19-9.657l0.6,0.533c-2.198,1.065-3.997,2.397-3.997,5.262c0,4.396,4.263,3.264,4.263,10.19v2.664 l7.793-8.192l8.192,8.059l7.726-8.059l7.459,7.326v24.643L125.208,56.01z M115.484,22.774l-4.662-4.596l-3.064,3.13v22.846 l5.662,4.861l2.064-2.33V22.774z M130.537,21.908l-3.73-3.729l-2.864,2.863v23.046l6.527,5.727l0.066-0.066V21.908z"/> <path fill="#333333" d="M160.371,56.01l-6.261-5.729h-0.133l-5.528,5.729l-6.727-5.928l-1.532,1.531l-0.866-0.865l1.932-1.998 V31.232l12.655-9.058l6.927,5.461l1.865-1.864l0.999,0.865l-2.397,2.265v18.05l3.063,2.797l1.932-1.998l0.999,0.934L160.371,56.01 z M154.11,31.1l-5.528-4.329l-0.133,0.133v19.449l4.063,3.598l1.599-1.533V31.1z M181.152,34.297h6.261v14.252l-10.59,7.461 c-1.398-1.6-3.396-2.73-5.861-2.73c-1.999,0-3.597,0.932-5.195,2.664l-0.933-0.334l9.191-13.188h-5.661V30.034l11.056-7.793 c1.332,1.065,2.398,1.731,4.129,1.731c1.333,0,3.264-0.267,4.729-1.465l0.666,0.466L181.152,34.297z M180.219,40.159h-3.13 l-7.393,10.59l0.066,0.133c1.532-1,2.797-1.666,5.062-1.666c1.998,0,4.063,0.934,5.329,2.531l0.066-0.066V40.159z M184.482,27.104 c-1.398,0.999-2.265,1.532-4.596,1.532c-1.332,0-2.931-0.6-4.196-1.932l-0.133,0.066v9.724h2.531l6.461-9.325L184.482,27.104z M211.124,28.636v22.845c0,6.395-5.662,10.723-11.989,11.988l-0.4-0.666c3.13-1.531,5.195-4.262,5.195-7.592V31.366l-3.264-2.997 l-1.732,1.731v18.05l1.999,1.865v0.266l-5.395,5.729l-6.194-5.662v-0.266l2.397-2.531v-29.44l7.06-7.526l0.133,0.067v17.717 l5.795-6.128l5.794,5.262l1.798-1.731l0.866,0.865L211.124,28.636z M224.178,56.01l-5.528-5.062l-1.865,1.865l-0.866-0.865 l2.198-2.266V30.7l-2.397-2.198l-1.798,1.731l-0.866-0.865l6.727-7.127l5.062,4.596l1.798-1.865l0.933,0.933l-2.265,2.265v19.048 l2.797,2.598l1.998-2.064l0.866,0.934L224.178,56.01z M222.247,21.642l-5.462-4.995l4.996-5.328l5.461,4.995L222.247,21.642z"/> <path fill="#333333" d="M252.942,56.01l-5.794-5.262V31.3l-3.131-2.931l-2.264,2.331v17.384l2.064,1.932v0.266l-5.462,5.729 l-6.194-5.662v-0.199l2.398-2.531V30.833l-2.731-2.464l-1.998,1.998l-0.933-0.866l6.794-7.26l6.062,5.395v1.333l6.326-6.728 l5.795,5.195l1.932-1.932l0.866,0.933l-2.331,2.331v18.65l2.598,2.463l2.197-2.264l0.8,0.865L252.942,56.01z M281.583,28.702 v22.58c0,3.463,1.932,3.33,1.932,5.928c0,2.996-4.33,5.793-10.99,10.789c-2.198-2.398-3.729-3.396-5.795-3.396 c-2.197,0-4.929,0.865-7.126,2.398l-0.666-0.533l9.125-10.725l-5.995-4.729l-1.932,1.932l-0.865-0.865l2.265-2.332V31.232 l12.654-9.058l6.794,5.328l1.998-1.932l0.866,0.866L281.583,28.702z M276.454,56.475c-1.665-1.064-2.064-2.197-2.064-5.061v-1 L263.666,62.87l0.066,0.066c2.132-1.266,3.73-2.064,6.86-2.064c2.664,0,4.596,1.133,6.328,2.664 c1.265-1.064,2.197-2.131,2.197-3.797C279.118,58.407,278.119,57.542,276.454,56.475z M274.39,31.1l-5.528-4.329l-0.133,0.133 v20.449l3.93,3.062l1.731-1.998V31.1z M295.37,56.01l-5.861-4.596l-1.799,1.797l-0.865-0.865l2.064-2.131V27.17h-3.863 l-0.133-0.133l2.331-3.464h1.665V19.11l7.061-7.525l0.133,0.133v11.855h5.328l0.134,0.133l-2.331,3.464h-3.131v20.182l3.197,2.463 l2.197-2.264l0.866,0.932L295.37,56.01z M324.477,29.302V47.75l-11.257,8.326l-8.192-6.195l-1.864,1.865l-0.866-0.865l2.131-2.197 V30.7l11.789-8.459l7.594,5.928l1.931-1.932l0.866,0.933L324.477,29.302z M317.283,31.3l-5.595-4.396l-0.067,0.066v19.849 l5.662,4.262V31.3z M350.852,55.944l-5.795-5.262v-19.45l-3.13-2.93l-2.265,2.331v17.384l2.064,1.932v0.266l-5.461,5.729 l-6.194-5.662v-0.199l2.397-2.531V30.767l-2.73-2.464l-1.998,1.998l-0.933-0.866l6.793-7.26l6.062,5.395v1.332l6.327-6.727 l5.795,5.195l1.932-1.932l0.865,0.933l-2.331,2.331v18.65l2.598,2.463l2.198-2.264l0.799,0.865L350.852,55.944z"/> <path fill="#333333" d="M391.734,56.01c-1.133-1.398-2.531-2.598-4.196-3.064v13.854l-0.133,0.066l-3.663-3.396l-7.727,7.127 l-0.133-0.066V52.614c-2.332,0.531-4.862,1.998-6.794,4.395l-0.533-0.332c0.467-5.129,2.997-8.926,7.327-10.391V33.298h-1.399 c-1.932,0-3.264,1.332-3.529,2.796h-0.8c-0.199-0.532-0.466-1.398-0.466-3.063c0-3.264,2.197-5.729,5.794-5.729h0.4V20.11 l-2.398-2.132l-1.864,1.865l-0.933-0.866l7.393-7.593l6.261,5.728v6.527l1.932-2.064v-7.659h1.266v6.327l8.326-8.858l7.525,6.86 v28.972L391.734,56.01z M386.272,22.841l-1.932,1.998v37.498l1.932,1.799V22.841z M394.998,21.309l-3.93-3.597l-3.53,3.73V45.62 c3.131,0.4,5.462,1.465,7.394,3.529l0.066-0.066V21.309z M427.435,29.302V47.75l-11.257,8.326l-8.191-6.195l-1.865,1.865 l-0.866-0.865l2.132-2.197V30.7l11.789-8.459l7.593,5.928l1.932-1.932l0.865,0.933L427.435,29.302z M420.241,31.3l-5.595-4.396 l-0.066,0.066v19.849l5.661,4.262V31.3z M443.952,34.297h6.261v14.252l-10.59,7.461c-1.398-1.6-3.396-2.73-5.861-2.73 c-1.998,0-3.597,0.932-5.195,2.664l-0.933-0.334l9.191-13.188h-5.661V30.034l11.057-7.793c1.332,1.065,2.397,1.731,4.129,1.731 c1.333,0,3.264-0.267,4.729-1.465l0.666,0.466L443.952,34.297z M443.02,40.159h-3.13l-7.394,10.59l0.066,0.133c1.532-1,2.798-1.666,5.062-1.666c1.998,0,4.062,0.934,5.328,2.531l0.066-0.066V40.159z M447.282,27.104c-1.398,0.999-2.265,1.532-4.596,1.532c-1.332,0-2.931-0.6-4.195-1.932l-0.134,0.066v9.724h2.531l6.461-9.325L447.282,27.104zM462.535,56.01l-5.861-4.596l-1.799,1.797l-0.865-0.865l2.064-2.131V27.17h-3.863l-0.133-0.133l2.331-3.464h1.665V19.11l7.061-7.525l0.133,0.133v11.855h5.328l0.134,0.133l-2.331,3.464h-3.131v20.182l3.197,2.463l2.198-2.264l0.865,0.932L462.535,56.01z"/></svg>');
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: -200vw;
	margin-left: -5px;
}

#todaysDate {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	color: #333;
}

#endMark {
	font-family: "Minion Pro", Didot, "Bodoni 72", Georgia, serif;
	margin: 135px 0;
	font-size: 48px;
	color: #333;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

#brights {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#brights a {
	width: 300px;
	height: 300px;
	background-color: #e0e0e0;
	margin: 1px;
}

#brights img {
	width: 100%;
	height: 100%;
	/* 	animation: 0.25s cubic-bezier(0,1,0,1) 0s 1 transitionIn; */
}

@media (max-width: 1516px) {
	#logoDate {
		width: 1200px;
	}
}

@media (max-width: 1216px) {
	#logoDate {
		width: 900px;
	}
}

@media (max-width: 916px) {
	#logoDate {
		width: 600px;
	}
}

@media (max-width: 616px) {
	#logoDate {
		width: auto;
	}
	
	#brights a {
		width: 48vw;
		/* for the scroll bar*/
		height: 48vw;
	}
}

/* 
@keyframes transitionIn {
    0% {
        transform: scale(0.75);
        opacity: 0.1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
 */
